<div>
    <form>
        <div class="form-row">
            <div class="form-group col m-4">
                <select class="form-control" id="valuteIn" onchange="convert(this)">
                    {{#each Valute}}
                        <option value="{{Value}}">{{Name}}</option>
                    {{/each}}
                </select>
                <input class="form-control" id="textIn" placeholder="100" oninput="convert(this)">
            </div>

            <div class="form-group col m-4">
                <select class="form-control" id="valuteOut" onchange="convert(this)">
                    {{#each Valute}}
                        <option value="{{Value}}">{{Name}}</option>
                    {{/each}}
                </select>
                <input class="form-control" id="textOut" placeholder="100" oninput="convert(this)">
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Обозначение</th>
                <th>Курс к рублю</th>
                <th>Рубль к валюте</th>
            </tr>
        </thead>
        <tbody>
            {{#each Valute}}
            <tr>
                <td>#</td>
                <td>{{this.Name}}</td>
                <td>{{this.CharCode}}</td>
                <td>{{this.Value}}</td>
                <td>{{this.DeValue}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    let list = document.getElementById("valuteIn").children;
    list.item(list.length - 1).setAttribute("selected", "selected");
    
    function convert(obj) {
        let valuteIn = document.getElementById("valuteIn");
        let valueOut = document.getElementById("valuteOut");
        let textIn = document.getElementById("textIn");
        let textOut = document.getElementById("textOut");

        if(obj == valuteIn || obj == textIn) {
            textOut.value = textIn.value * valuteIn.value / valuteOut.value;
        } else {
            textIn.value = textOut.value * valuteOut.value / valuteIn.value;
        }
    }
</script>